.clean-list {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}


// Trick for getting the <ol> second line aligned with the 1st line
ol {
    counter-reset: foo;
    display: table;
}

ol > li {
    counter-increment: foo;
    display: table-row;
}

ol > li::before {
    content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
}

